<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.framework.persistence.mapper.SysUserRoleMapper">
	<!-- 根据情况定制属性列表
	<resultMap id="RM.SysUserRole" type="com.framework.po.SysUserRole">
		<result property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="roleId" column="role_id"/>
	</resultMap>
	-->

	<!-- 查询公用抽取的列 -->
	<sql id="columns_all">
	    <![CDATA[
		id,user_id,role_id
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_sys_user_role (
        	id,
        	user_id,
        	role_id
        ) VALUES (
        	#{id},
        	#{userId},
        	#{roleId}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.framework.persistence.po.SysUserRole">
        UPDATE t_sys_user_role 
		<set>
	        <if test="userId != null">
	        	user_id = #{userId},
	        </if>
	        <if test="roleId != null">
	        	role_id = #{roleId}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_sys_user_role WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.framework.persistence.po.SysUserRole">
		SELECT
			*
		FROM
			t_sys_user_role 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="roleId != null">
				AND role_id = #{roleId}
			</if>
			<if test="userAccount != null">
			    and exists (
			    select
			    	1
			    from
			    	t_sys_user b
			    where
			    	a.user_id = b.user_id
			    and b.user_account = #{userAccount}
			    )
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="roleId != null">
				AND role_id = #{roleId}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_sys_user_role
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.framework.persistence.po.SysUserRole">
		SELECT 
			*
		FROM
			t_sys_user_role a
	    <include refid="where" />
	    ${limit}
	</select>
	
	<select id="getListByPo" parameterType="com.framework.persistence.po.SysUserRole" resultType="com.framework.persistence.po.SysUserRole">
		SELECT 
			*
		FROM 
			t_sys_user_role a
	    <include refid="whereForPo" />
	</select>
</mapper>

